<div class="text-center mt-2">
    <h1 class="text-danger">Acess Denied</h1>
    <h6 class="text-danger">You Don't have any premission to view this resource</h6>
    <img src="~/Images/AccessDenied.png" style="width:300px;height:300px"/>
</div>
