@model ChangePasswordVM;
@{
    ViewData["Title"]="Change Password";
}
<div>
    <h2 class="text-primary">@ViewData["Title"]</h2>
    <hr />
</div>
<section class="row mt-3">
    <div class="col-md-12">
        <form asp-action="ChangePassword" asp-controller="Account" asp-antiforgery="true">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="form-group">
             <label asp-for="CurrentPassword" class="form-label"></label>
             <input asp-for="CurrentPassword" class="form-control"/>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
         </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
        </form>
       
    </div>
</section>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
