@model Register;
@{
    ViewData["Title"] = "Regsiter";
}
<div>
<h2 class="mt-3 " style="">Register</h2>
<a asp-controller="Home" asp-action="login">Aready I have Account</a>
</div>
<hr>
<form asp-area="" asp-controller="Account"  asp-action="Register" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" placeholder="Enter email">
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Password"></label>
    <input asp-for="Password"  class="form-control"  placeholder="Password">
    <span asp-validation-for="Password" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" class="form-control"  placeholder="Confirm Password">
   <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial"/>
}

