@model StudentVM;
@{
    ViewData["Title"] = "Create - Student";
}
<div>
    <h2 class=" mt-3" style="color:#343a40">Add Student :</h2>
</div>
<hr />
<form asp-controller="Student" asp-action="Update" asp-antiforgery="true" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly"></div>
      <div class="form-group text-bold" style="display:none]">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" placeholder="Enter Name">
        <span asp-validation-for="Id"></span>
    </div>
    <div class="form-group text-bold">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" placeholder="Enter Name">
        <span asp-validation-for="FullName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" placeholder="Age">
        <span asp-validation-for="Age"></span>
    </div>
    <div class="form-group">
        <img src="~/Images/@Model.ImgUrl" class="img-responsive" width="160px" height="160" /><br />
        <label>Photo</label>
        <input type="file" asp-for="File" class="form-control" placeholder="Choose">
        <span asp-validation-for="File"></span>
    </div>
     <div class="form-group">
        <label asp-for="Gender"></label>
        <select asp-for="Gender" class="custom-select" asp-items="@ViewBag.Genders">
            <option disabled>Select Level</option>
        </select>
        <span asp-validation-for="Gender"></span>
    </div>
    <div class="form-group">
        <label asp-for="Level"></label>
        <select asp-for="Level" class="custom-select" asp-items="@ViewBag.Levels">
            <option disabled>Select Level</option>
        </select>
        <span asp-validation-for="Level"></span>
    </div>
       <div class="form-group">
           <input type="submit" value"Update" class="btn btn-primary"  />
           &nbsp;  &nbsp;
            <a asp-action="Index" asp-controller="Student" class="btn btn-danger">Cancel</a>
       </div>
</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}









