@{
    ViewData["Title"] = "Not Found";
}
<div style="text-align:center">
    <h2>@ViewBag.ErrorMessage</h2>
            <a asp-action="Index" asp-controller="Account" class="btn btn-primary">
                Click here To go Home Page
            </a>

</div>




